body {
    margin: 0;
    font-family: 'Poppins';
}


.container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    z-index: 1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.color-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}


.colored {
    border-radius: 50px;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: 30px;
}

.colored:hover {
    transform: scale(1.2);
    transition: transform 200ms;
}

.green {
    background-color:#0FE77B;
}

.miami-blue {
    background-color:#02A1C0;
}

.lava-orange {
    background-color:#FA5230;
}

.yellow {
    background-color:#D0A407;
}

.guards-red {
    background-color: #CE0100;
}




